@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}
@keyframes fadeup {
    0% {
      opacity: 20%;
    }
  
    50% {
      opacity: 40%;
    }
    100%{
        opacity: 100%;
    }
  }

header{
    background-image: url(/images/bg-hero-desktop.svg);
    height: 100vh;
    margin-bottom: 10%;
    background-color: hsl(193, 100%, 96%);
    animation: fadeup 7s ease forwards
}
main{
    margin-bottom: 20%;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 20%;
}
.logo{
    margin: 4% 0 0 5%;
    width: 15%;
    height: fit-content;
}
.up-btn{
    margin: 3% 8% 0 0;
    width: 15%;
    padding: 1%;
    height: fit-content;
    border-radius: 50px;
    background-color: white;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}
.up-btn:hover{
    opacity: 70%;
    cursor: pointer;
}
.header-content{
    display: flex;
    justify-content: center;
}
.mockup{
    margin-right: 6%;
    width: 50%;
}
.mockup img{
    width: 90%;
}
.message{
    margin-left: 5%;
    width: 50%;
}
h1{
    margin-top: 10%;
    margin-bottom: 3%;
    width: 100%;
    font-size: 2.5rem;
}
.message p {
    width: 90%;
    font-family: "Poppins", sans-serif;
    font-weight: 400; 
    line-height: 1.5;
    color: #000;
    font-size: 1rem;
}
.message button{
    margin-top: 5%;
    width: 35%;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: white;
    background: hsl(322, 100%, 66%);
    border: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    padding: 2%;
    border-radius: 50px;
}
.message button:hover{
    opacity: 50%;
}
.flex{
    display: flex;
    flex-direction: column;
}
i:hover{
    color: pink;
}
.flex p{
    font-size: 1rem;
}
.one,.two,.three{
    display: flex;
    justify-content: flex-start;
    width: 90%;
    border: 2px solid transparent;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    margin: 0 auto 3% auto;
    padding: 5%;
    border: 2px solid transparent;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.one-text,.two-img,.three-text{
   width: 50%;
   margin-left: 5%;
}
.one-img,.two-text,.three-img{
    width: 50%;
}
.one-img img{
    width: 60%;
    margin-left: 40%;
}
.two-img img{
    width: 60%;
}
.three-img img{
    width: 60%;
    margin-left: 40%;
}
h2{
    margin-top: 6%;
    margin-bottom: 2%;
    font-size: 2rem;
}
.get-started{
    width: 50%;
    color: black;
   background-color: white;
    padding: 4%;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    position: absolute;
    bottom: 80%;
}
.down-button{
    width: 35%;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: white;
    background: hsl(322, 100%, 66%);
    border: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    padding: 2%;
    border-radius: 50px;
}
.down-button:hover{
    opacity: 50%;
}
.last-h{
    margin-top: 2%;
    margin-bottom: 5%;
}

footer{
    display: flex;
    background-color:  hsl(192, 100%, 9%);
    position: relative;
    padding-top: 8%;
    justify-content: space-evenly;
    padding-bottom: 4%;
    color: white;
    font-size: 12px;
    position: relative;
}
.footer-one >img{
    width: 40%;
    margin-bottom: 8%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline white;
    z-index: 2;
}
li{
    line-height: 2;
}
.footer-two,.footer-three,.footer-four{
    margin-top: 4.5%;
}
.footer-one{
    width: 30%;
}
.small{
    line-height: 1.7;
}
.socials li{
   display: inline;
   margin-left: 4%;
}
.socials{
    margin-bottom: 40%;
}
@media screen and (max-width:1024px) {

*{
    font-size: 12px;
}
main{
    margin-bottom: 25%;
}
.get-started{
    padding: 2%;
    border-radius: 5px;
}
}
@media screen and (max-width:768px) {
    *{
        font-size: 10px;
    }
    .header-content{
        flex-direction: column;
    }
    .message{
        width: 100%;
        text-align: center;
        margin-left: 0;
    }
    .mockup{
        width: 100%;
    }
    .mockup img{
        width: 50%;
        margin: 3% 25% 0 25%;
    }
    nav{
        height: 5%;
    }
    h1{
        margin-top: 7%;
        margin-bottom: 1.5%;
    }
    .message p {
        width: 80%;
        line-height: 1;
        margin: 0 auto 0 auto;
    }
    .message button{
        margin-top: 2%;
        width: 30%;
        padding: 1%;
        border-radius: 30px;
    }
    .one,.three{
        flex-direction: column-reverse;
    }
    .two{
        flex-direction: column;
    }
    .one-text,.two-img,.three-text{
        width: 100%;
        margin-left: 0;
        text-align: center;
     }
     .one-img,.two-text,.three-img{
         width: 100%;
         text-align: center;
     }
     .one-img img{
         width: 60%;
         margin-left: 0;
     }
     .two-img img{
         width: 60%;
     }
     .three-img img{
         width: 60%;
         margin-left: 0;
     }
     h2{
         margin-top: 6%;
         margin-bottom: 2%;
         font-size: 2rem;
     }
    footer{
        flex-direction: column;
        padding-top: 12%;
    }
    .footer-one >img{
        width: 20%;
        margin-bottom: 8%;
    }
    .footer-two,.footer-three,.footer-four{
        margin-top: 4.5%;
        width: 100%;
        text-align: center;
        padding-left: 2%;
    }
    .footer-one{
        width: 80%;
        text-align: center;
        margin:4.5% auto 0 auto ;
    }
    .footer-one li{
        margin-bottom: 2%;
    }
   
    .small{
        line-height: 1.7;
    }
    .socials li{
       display: inline;
       margin-right: 2%;
    }
    .socials{
        margin-bottom: 6%;
    }
    .get-started{
        padding: 4%;
        bottom: 90%;
        left: 25%;
    }
    .down-button{
        width: 40%;
        padding: 3%;
        border-radius: 30px;
    }
}
@media screen and (max-width:425px) {
    *{
        font-size: 9px;
    }

    .mockup img{
        width: 50%;
        margin: 3% 25% 0 25%;
    }
    h1{
        margin-top: 30%;
        margin-bottom: 1.5%;
    }
    .message button{
        margin-top: 5%;
        width: 50%;
        padding: 1%;
        border-radius: 30px;
    }
    footer{
        flex-direction: column;
        padding-top: 12%;
    }
    .footer-one >img{
        width: 20%;
        margin-bottom: 8%;
    }
    .footer-two,.footer-three{
        margin:4.5% auto 0 auto ;
        width: 80%;
        text-align: left;
        padding-left: 2%;
    }
    .footer-four{
        margin-top: 4.5%;
        width: 100%;
        text-align: center;
        padding-left: 2%;
    }
    .footer-one{
        width: 80%;
        text-align: left;
        margin:4.5% auto 0 auto ;
    }
    .get-started{
        padding: 4%;
        bottom: 90%;
        left: 5%;
        width: 90%;
    }
    .down-button{
        width: 40%;
        padding: 3%;
        border-radius: 30px;
    }
}
@media screen and (max-width: 320px) {
    main{
        margin-bottom: 40%;
    }
}